body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f,  blue , pink);
    color: #333;
}

header {
    background-color: #1a73e8;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
}

.link-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    max-width: 1000px;
    margin: 20px 0;
}

.shopping-link {
    background: sandybrown;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #131921;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.shopping-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.shopping-link:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shopping-link img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.checkout {
    background: gold;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #155aab;
}

.feedback {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
}

.feedback button {
    background-color: #28a745;
}

.feedback button:hover {
    background-color: #218838;
}
